{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Add Film - Movie Tickets Booking Website</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon4.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        {% comment %} <link href="{% static 'css/admin_login.css' %}" rel="stylesheet" /> {% endcomment %}
        <style>
            .filmform{
                background-color: #F8F9FA;
                border-style: solid;
                border-radius: 5px;
                border-width: thin;
                margin-top:50px;
                margin-bottom:25px;
                padding-left:50px;
                padding-right:50px;
            }
        </style>
    </head>
    <body  style="background-color: #FFFFFF">
    <!-- Navigation-->
<!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/admin">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link active" href="movies">Movies</a></li>
                    <li class="nav-item"><a class="nav-link " href="bookings">Bookings</a></li>
                    <li class="nav-item"><a class="nav-link " href="users">Users</a></li>
                    {% comment %} <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li> {% endcomment %}
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
<!-- Content -->

{% load crispy_forms_tags %}

    {% comment %} <div class="col-md-6 container bg-default filmform" >
        <form action = "" method = "post">
            
            {{form|crispy}}
            <input type="submit" value="Submit">
        </form>
    </div> {% endcomment %}


    <div class="col-md-6 container bg-default filmform" >
                
        <h4 class="my-4" >
               <span style="border-bottom:solid"> Add Film </span>
        </h4>

        
        <form action="addfilm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Movie Name</label>
                    <div class="input-group">
                        {% comment %} <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>	 {% endcomment %}
                        <input type="text" class="form-control" name="fn" id="username" placeholder="movie name" required>
                        <div class="invalid-feedback">
                            Your movie name is required.
                        </div>
                    </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label for="firstname">Language</label>
                    <select class="form-select" name="fl" id="firstname" aria-label="Default select example">
                        <option selected>Select Language</option>
                        <option value="English">English</option>
                        <option value="French">French</option>
                        <option value="Spanish">Spanish</option>
                      </select>
                    {% comment %} <label for="firstname">Language</label>
                    <input type="text" class="form-control" name="fl" id="firstname" placeholder="language">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div> {% endcomment %}
                </div>

                <div class="col-md-6 form-group">
                    <label for="lastname">Year</label>
                    <input type="text" class="form-control" name="fy" id="lastname" placeholder="year">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>

            
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label for="sdate">Startdate</label>
                    <input type="date" class="form-control" name="fsd" id="sdate"  name="birthdaytime">
                    {% comment %} <input type="text" class="form-control" id="sdate" placeholder="language"> {% endcomment %}
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-md-6 form-group">
                    <label for="edate">Enddate</label>
                    {% comment %} <input type="text" class="form-control" id="edate" placeholder="year"> {% endcomment %}
                    <input type="date" class="form-control" name="fed" id="edate"  name="birthdaytime">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>

            <div class="form-row">
                {% comment %} <label for="email">Showtimes</label> {% endcomment %}
                <div class="col-md-4 form-group">
                    <label for="email1">Show time 1</label>
                    <input type="time" class="form-control" name="fst1" id="email1" placeholder="movie showtimes" required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="email2">Show time 2</label>
                    <input type="time" class="form-control" name="fst2" id="email2" placeholder="movie showtimes" required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="email3">Show time 3</label>
                    <input type="time" class="form-control" name="fst3" id="email3" placeholder="movie showtimes" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" name="fp" id="price" placeholder="price">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-md-8 form-group">
                    <label for="turl">Thumnail URL</label>
                    <input type="url" class="form-control" name="fu" id="turl" placeholder="url">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>
                {% comment %} <hr class="mb-4"> {% endcomment %}
                <div class="col-md-2 form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="fa" value="0" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Active
                        </label>
                      </div>       
                    {% comment %} <label for="lastname">Active</label>
                    <input  class="form-control" name="fa" id="lastname" placeholder="year">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div> {% endcomment %}
                </div>
                <button class="btn btn-dark bt-lg btn-block" type="submit">submit</button>
                <h1 class="mb-4">
        </form>
    </div>
    

<!-- Content-->
{% comment %} <div class="container col-md-4">
  <form class="form-signin">
    {% comment %} <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> {% endcomment %}
    {% comment %} {% endcomment %}
{% comment %} </div> {% endcomment %}


  <footer class="py-5 bg-dark" style="bottom:0;left:0;right:0;">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy;LOGO 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
<!-- Core theme JS-->
{% comment %} <script src="{% static 'js/scripts.js' %}"></script> {% endcomment %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>